/* .red{
    background-color: red;
}

.red:hover{
    background-color: rgba(255, 0, 0, 0.5);
}

.color{
    color: blue;
} */

.div-style{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: cyan;
    border: 5px dotted green;
    border-radius: 5%;
    font-weight: bold;
    font-size: 5em;
}